* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f3f2ef; 
}
.main-container{
    font-family: Arial, sans-serif;   
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    width: 60%;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 160px;
}

body .navigation-bar{
    display: none;
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    color: #333;
    font-size: 1.3rem;
    margin-top: 20px;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    color: black;
}

.tip {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 20px;
    padding: 5px;
    border: 2px solid #d4d1d199; 
}

.tip:last-child {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    body {
        height: auto;
        padding: 20px;
    }

    .container {
        width: 100%;
        margin-top: 15vh;
        background-color: white;
        padding: 15px;
        box-shadow: none;
        border-radius: 10px;
    }

    body .navbar {
        display: none; 
    }

    body .navigation-bar {
        display: block;
        padding: 20px;
    }
    
    .hamburger-menu {
        display: block;
        font-size: 20px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: white;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 100;
        list-style: none;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        padding: 10px 0;
    }

    .search-bar input {
        width: 80%;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.9rem;
    }

    .tip {
        padding: 10px;
    }
}