* {
  padding: 3px;
  background-color: white;
}

#desktop-navbar {
  display: none;
  background-color: #ffffff;
}

#mobile-navbar {
  display: flex;
  width: 100%;
  height: 30px;
  position: fixed;
  background-color: #ffffff;
  padding-right: 15px;
}

.back-button {
  height: 20px;
}

.container {
  padding: 40px 10px;
  display: flex;
}

.deskripsi {
  text-align: justify;
  margin-top: 0;
}

.nama-pt {
  display: flex;
  align-items: center;
}

.nama-pt h2 {
  margin-left: 10px;
  font-size: 25px;
}

.posisi {
  font-size: 20px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 0;
}

.tipe-low {
  display: flex;
  align-items: center;
}

.tipe-low h3 {
  margin-left: 10px;
  font-size: 15px;
  font-weight: normal;
}

.suitcase {
  width: 20px;
}

.lamar-button {
  border: 1px solid #e0e0e0;
  width: auto;
  height: auto;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #0a66c2;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.detail_low button {
  background-color: #0a66c2 !important;
}

.detail_low button:hover {
  background-color: #004080 !important;
}

.message {
  border: 1px solid #e0e0e0;
}

.image {
  max-width: 100px;
  max-height: 100px;
}

.job-details{
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.job-details span{
  font-weight: normal;
}
@media (min-width: 768px) {
  *{
    background-color: #f5f5f5; 
  }
  #desktop-navbar {
    display: block;
  }

  #mobile-navbar {
    display: none;
  }

  #desktop-navbar * {
    background-color: inherit;
  }
  
  .search-bar {
    background-color: #eef3f8 !important;
  }

  .job-list {
    list-style-type: none;
    padding-left: 0;
  }

  .job-item {
    font-size: 15px;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
  }

  .container {
    margin-top: 80px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
  }

  .detail_low {
    width: 1200px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
  }
  .detail_low * {
    background-color: inherit;
  }
  .left {
    width: 40%;
    margin-left: 50px;
  }
  .right {
    width: 55%;
  }
}
