* {
    margin: 0;
    padding: 0;
    font-size: 0;
    vertical-align: 0;
    background: transparent;
}

body {
    background-color: #ffffff;
    font-family: "Segoe UI", "Roboto", Arial, sans-serif;
}

.hero-section {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    min-height: calc(100vh - 76px - 50px);
}

.hero-content {
    padding-right: 48px;
    align-self: flex-start;
    flex-shrink: 0;
    margin: auto;
    box-sizing: border-box;
    width: 55%;
    max-width: 600px;
    flex-direction: column;
    position: relative;
}

.hero-content h1 {
    color: #526a6e;
    line-height: 1.25;
    font-weight: 400;
    font-size: 48px;
}

.button-container .loginButton, .button-container .registerButton {
    cursor: pointer;
    text-decoration-line: none;
    min-height: 30px;
    height: min-content;
    max-width: 400px;
    display: block;
    margin-top: 24px;
    border-radius: 48px;
    padding: 8px 24px 8px 24px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    transition: 0.1s ease;
}

.button-container .loginButton {
    border: none;
    background-color: #0a66c2;
    color: white;
}

.button-container .registerButton {
    border: 1px solid black;
    background-color: white;
    color: rgba(0,0,0,0.9);
}

.button-container .loginButton:hover {
    background-color: #2d83da;
}

.button-container .registerButton:hover {
    background-color: whitesmoke;
}

.hero-img {
    flex-shrink: 1;
    width: 700px;
    height: 560px;
    display: block;
    z-index: -100;
    position: relative;
}