#desktop-navbar {
  display: none;
}

#mobile-navbar {
  padding: 15px;
  width: 100%;
  height: 30px;
  position: fixed;
  background-color: #ffffff;
}

body{
  font-family: Arial, sans-serif;
  background-color: #f3f2ef; 
}

.back-button {
  height: 20px;
}

.container {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

#details {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.detail-lamar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detail-lamar h3 {
  font-size: 17px;
  font-weight: normal;
}

/* Two-box layout */
.cv-video-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cv-video-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cv-box,
.video-box {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.cv-box {
  margin-right: 20px;
}

.cv-box embed,
.video-box video {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 5px; 
}

textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  resize: vertical;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin: 10px 0;
}

.submit-application {
  border: 1px solid #e0e0e0;
  width: 50%;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #0a66c2;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-top: 25px;
  display: block;
  margin: 25px auto 0 auto;
}

.status{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.final-review{
  margin-top: 20px;
  margin-bottom: 0;
}

#editor{
  background-color: white;
  color: black;
}

/* Desktop Styles */
@media (min-width: 768px) {
  #desktop-navbar {
    display: block;
  }

  #mobile-navbar {
    display: none;
  }

  .container {
    margin-top: 80px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .cv-video-container {
    flex-direction: row;
  }

  .cv-box {
    margin-right: 20px;
    width: 48%;
  }

  .video-box {
    width: 48%;
  }

  .cv-box embed,
  .video-box video {
    height: 400px;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .cv-video-container {
    flex-direction: column;
  }

  .cv-box,
  .video-box {
    width: 100%;
    margin-right: 0;
  }

  .cv-box embed,
  .video-box video {
    height: auto;
  }
}
