body {
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px 10px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}
.navbar-left {
    display: flex;
    align-items: center;
    margin-left: 45px;
}
.navbar-left img {
    width: 35px;
    margin-right: 15px;
}
.search-bar {
    display: flex;
    align-items: center;
    background-color: #eef3f8;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 20px;
    margin-left: 10px;
    width: 250px;
    height: 35px;
}
.search-bar input {
    border: none;
    background-color: transparent;
    padding: 5px;
    width: 200px;
}
.search-bar input:focus {
    outline: none;
}
.navbar-right {
    display: flex;
    align-items: center;
    margin-right: 100px;
    gap: 20px;
}
.navbar-right a {
    margin: 0 15px;
    text-decoration: none;
    color: #666666;
}
.nav-item{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.nav-item .fas {
    font-size: 25px;
    margin-bottom: 5px;
    color: #666666;
}
.nav-item:hover .fas {
    color: #0A66C2;
}
.nav-item:hover a {
    color: #0A66C2; 
}
.nav-item a {
    text-decoration: none;
    color: #333;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon {
    width: 24px;
    height: 24px;
    position: relative;
}
.fab{
    color: #0A66C2;
    font-size: 50px;
}