body {
    background-color: #ffffff;
    font-family: "Segoe UI", "Roboto", Arial, sans-serif;
}

.error { color: red !important; }
.invalid { border-color: red !important; }

div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.app-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 1;
    float: none;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.login-card{
    width: 352px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 24px;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 50px;
    background: white;
    font-size: 12px;
}

.header-content h1{
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 1.25;
    color: rgba(0, 0, 0, 0.9);
    padding: 0 0 4px 0;
    margin: 0;
}

.form-group {
    position: relative;
    margin-top: 20px;
}

.form-group small {
    font-weight: 500;
    height: 6px;
}
  
.form-group input {
    box-sizing: border-box;
    width: 100%;
    padding: 19px 10px 8px 10px;
    font-size: 1.3rem;;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s ease;
}
  
.form-group label {
    position: absolute;
    top: 13px;
    left: 10px;
    color: #999;
    font-size: 20px;
    pointer-events: none;
    transition: all 0.2s ease;
}

.form-group input:focus ~ label,
.form-group input:not(:placeholder-shown) ~ label {
    top: 5px;
    left: 8px;
    font-size: 12px;
}

.form-group input:focus ~ label {
    color: #007bff;
}

.form-group input:focus {
    border-color: #007bff;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container button {
    border: none;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 600;
    height: min-content;
    min-height: 48px;
    padding: 12px 24px;
    text-align: center;
    background-color: #0a66c2;
    color: white;

    width: 100%;
    height: 40px;
    margin-top: 20px;
    transition: 0.1s ease;
}

.button-container button:hover {
    background-color: #004182;
    cursor: pointer;
}

.subtext {
    text-align: center;
    margin: 32px 0 0;
}

.subtext a {
    text-decoration: none;
    color: #0a66c2;
    font-weight: 600;
    transition: 0.01s;
    padding: 10px;
}

.subtext a:hover {
    text-decoration: underline;
    background-color: rgba(44, 142, 223, 0.653);
    border-radius: 50px;
}
