/* history.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

/* Container layout */
.container {
    display: flex;
    width: 65%;
    max-width: 1200px;
    margin: 100px auto;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Sidebar styling */
.sidebar {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 15%; /* Reduced width for responsiveness */
    position: fixed; /* Changed from fixed to relative */
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.home-picture img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 80px;
}

.profile-picture {
    margin-top: -40px;
}

.profile-picture img {
    width: 80px;
    border-radius: 50%;
}

.profile-info {
    margin-top: 1rem;
    text-align: center;
}

.profile-info h4 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}

.profile-info .about {
    font-size: 14px;
    color: #777;
}

/* Main content styling */
.main-content {
    width: 80%; /* Adjusted width for better responsive behavior */
    padding: 40px;
    overflow-y: auto;
    margin-left: auto;
}

.job-history h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
}

.job-history-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.job-history-item {
    background-color: #fafafa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.job-history-item-title h2 {
    font-size: 20px;
    color: #0066cc;
}

.job-history-item-title p {
    font-size: 16px;
    color: black;
    margin-top: 5px;
}

.job-history-item-description {
    margin-top: 10px;
}

.job-history-item-description p {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

/* Responsive design */
@media (max-width: 768px) {
    body {
        display: block;
    }

    .container {
        flex-direction: column;
        width: 90%; /* Full width for smaller screens */
        margin: 5rem auto;
    }

    .sidebar {
        width: 100%;
        position: relative; /* Remove fixed position on smaller screens */
        margin-bottom: 20px; /* Add space below sidebar */
    }

    .main-content {
        width: 100%;
        padding: 20px;
        margin-top: 0;
    }

    .job-history h1 {
        font-size: 24px;
    }
}
