* {
  padding: 3px;
  background-color: white;
}

#desktop-navbar {
  display: none;
  background-color: #ffffff;
}

#mobile-navbar {
  display: flex;
  width: 100%;
  height: 30px;
  position: fixed;
  background-color: #ffffff;
  padding-right: 15px;
}

.back-button {
  height: 20px;
}

.container {
  padding: 40px 10px;
  display: flex;
}

.deskripsi {
  text-align: justify;
  margin-top: 0;
}

.nama-pt {
  display: flex;
  align-items: center;
}

.nama-pt h2 {
  margin-left: 10px;
  font-size: 25px;
}

.nama-pt a {
  color: inherit;
}
.nama-pt i {
  color: inherit;
  cursor: pointer;
}

.nama-pt i:hover {
  color: #0a66c2;
}

.posisi {
  font-size: 20px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 0;
}

.tipe-low {
  display: flex;
  align-items: center;
}

.tipe-low h3 {
  margin-left: 10px;
  font-size: 15px;
  font-weight: normal;
}

.suitcase {
  width: 20px;
}

.lamaran-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.lamaran-table th,
.lamaran-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.buttons {
  border: 1px solid #e0e0e0;
  width: auto;
  height: auto;
  padding: 10px 20px;
  border-radius: 15px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  background-color: #0a66c2 !important;
  cursor: pointer;
}

.buttons:hover {
  background-color: #004080 !important;
}

.job-attach {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.image {
  max-width: 100px;
  max-height: 100px;
}

.job-details{
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.job-details span{
  font-weight: normal;
}
@media (min-width: 768px) {
  * {
    background-color: #f5f5f5;
  }

  #desktop-navbar {
    display: block;
  }

  #mobile-navbar {
    display: none;
  }

  #desktop-navbar * {
    background-color: inherit;
  }
  .search-bar {
    background-color: #eef3f8 !important;
  }
  .container {
    margin-top: 80px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .detail_low {
    width: auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: white;
  }

  .detail_low * {
    background-color: inherit;
  }
}
